  <header>
    <% if current_user %>
      <div id='nav-online' class='center-align'>
        <a class='button' href="/users/<%= current_user.id %> ">Results</a>
      </div>
      <div class="assessment">
        <script>
              var assessmentId = '<%= current_user.assessments.find_by(name: 'Persuasion').id %>'
              var assessmentKey = '<%= current_user.assessments.find_by(name: 'Persuasion').key %>';
              Traitify.setPublicKey('<%= ENV['PUBLIC'] %>');
              Traitify.setHost("https://api-sandbox.traitify.com");
              Traitify.setVersion("v1");

              traitify = Traitify.ui.load(assessmentKey, ".assessment",{slideDeck: {showResults: true}})
              traitify.slideDeck.onFinished(function(){
                $.ajax({
                  url: '/users/' + '<%= current_user.id %>',
                  method: 'GET'
                })
                .done(function(response) {
                  setTimeout(function() {
                    alert(response);
                    htmlString = "<h4>Click Here to View Your Results</h4>";
                    $( '#nav-online' ).prepend(htmlString);
                  }, 2000);
                })
              })
        </script>
      </div>
      <footer class='center-no-pad'>
          <form class='button' action="/sessions" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Logout">
          </form>
      </footer>
    <% else %>
      <div id="nav" class= "center-align">
        <a class="button" href="/sessions/new">Login</a>
        <a class="button" href="/users/new">Register</a>
      </div>
    <% end %>
  </header>
